*, html {
    margin: 0;
    padding: 0;
}

.controlers {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.controlers label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-left: 1px solid black;
}

.container {
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    /* resize: both; */
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-image: url(./imgs/fundo.png);
    background-repeat: repeat;
}
.bottom{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.container canvas:last-child {
    pointer-events: none;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    touch-action: none;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
.main {
    background-color: black;
}

.sizeDraw {
    width: 50px;
}

.tranca {
    display: flex;
    
}

.tranca img {
    width: 20px;
}

.tranca input {
    display: none;
}

@media (max-width: 600px){
    .container{
        margin-left: 10px;
        width: 90%;
        height: 550px;
    }
    .controlers {
        justify-content: center;
        flex-direction: column;
    }
}