*, html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.controlers {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.controlers label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-left: 1px solid black;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    resize: both;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

canvas {
    cursor: crosshair;
    touch-action: none;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px){
    .container{
        margin-left: 10px;
        width: 200px;
        height: 200px;
    }
    .controlers {
        justify-content: center;
        flex-direction: column;
    }
}